<div class="jumbotron">
  <p>GoSpotify is a simple service that syncs your playlists from SoundCloud, VK and Last.fm to Spotify.</p>
  <a href="/auth/spotify" class="btn btn-primary btn-lg">Sign in with Spotify <i class="fa fa-spotify"></i></a>
</div>
