.container {
  max-width: 880px;
}

h1 a, h1 a:hover {
  color: inherit;
}

.page-header {
  margin-bottom: 0;
  padding-bottom: 0;
}

.page-header .pull-right {
  margin-top: 30px;
}

#app h2 {
  margin-top: 0;
  margin-bottom: 20px;
}

#app .provider {
  margin-bottom: 20px;
}

#app table {
  margin-bottom: 0;
}

#app table td.controls {
  vertical-align: middle;
  text-align: right;
}

#app table td.controls span {
  font-size: 90%;
}

#app table td.controls .btn {
  margin-left: 10px;
  text-transform: capitalize;
}
