<h2>Spotify <i class="fa fa-spotify"></i></h2>
<p class="text-muted">Nothing is synced</p>

<h2>SoundCloud <i class="fa fa-soundcloud"></i></h2>

<% if !current_user.soundcloud? %>
<a href="/auth/soundcloud" class="btn btn-default btn-sm">Sign in with SoundCloud</a>
<% end %>

<h2>VK <i class="fa fa-vk"></i></h2>
