<!doctype html>
<html>
<head>
  <title>GoSpotify</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" />
  <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/flatly/bootstrap.min.css" rel="stylesheet" />
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" />
  <link href="/application.css" rel="stylesheet" />

  <meta property="og:description" content="GoSpotify is a simple service that syncs your playlists from SoundCloud, VK and Last.fm to Spotify." />
  <meta property="og:url" content="http://www.gospotify.me"/>
  <meta property="og:image" content="http://www.gospotify.me/icon.png" />
</head>
<body>
  <div class="container">
    <div class="page-header">
      <div class="pull-left">
        <h1><a href="/">GoSpotify</a></h1>
      </div>

      <% if user_signed_in %>
      <div class="pull-right">
        <span class="text-muted"><%= current_user.username %></span>&nbsp;
        <a href="/auth/signout" class="btn btn-default btn-sm">Sign out</a>
      </div>
      <% end %>

      <div class="clearfix"></div>
      <hr />
    </div>

    <%= yield %>

    <div class="page-footer">
      <hr />
      <p class="pull-left">
        <a href="https://github.com/krasnoukhov/gospotify">Open source</a> project by <a href="http://krasnoukhov.com">Dmitry Krasnoukhov</a>
      </p>
      <div class="pull-right">
        <div class="pull-right fb-like" data-href="http://www.gospotify.me" data-width="107" data-layout="button_count" data-show-faces="false" data-send="false"></div>
        <a class="pull-right twitter-share-button" href="https://twitter.com/share" data-url="http://www.gospotify.me" data-caption="GoSpotify is a simple service that syncs your playlists to Spotify"></a>
        <iframe class="pull-right" src="http://ghbtns.com/github-btn.html?user=krasnoukhov&repo=gospotify&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:107px; height:20px;"></iframe>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

  <% if env == "production" %>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/react/0.10.0/react-with-addons.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js"></script>

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '<%= ENV["GA_TRACKER_ID"] %>', 'auto');
  ga('send', 'pageview');
  </script>
  <% else %>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/react/0.10.0/react-with-addons.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.js"></script>
  <% end %>
  <script src="/application.js"></script>

  <script>
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    js = d.createElement(s);
    js.src = "//platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'twitter-wjs'));

  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    js = d.createElement(s);
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=821908237832821";
    js.onload = function() {
      FB.XFBML.parse();
    }
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
  </script>
</body>
</html>
