<!doctype html>
<html>
<head>
  <title>GoSpotify</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" />
  <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/flatly/bootstrap.min.css" rel="stylesheet" />
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" /
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container">
    <div class="page-header">
      <h1>GoSpotify&nbsp;<i class="fa fa-spotify"></i></h1>
    </div>

    <%= yield %>

    <div class="page-footer">
      <p>
        <a href="https://github.com/krasnoukhov/gospotify">Open source</a> project by <a href="http://krasnoukhov.com">Dmitry Krasnoukhov</a>
      </p>
    </div>
  </div>
</body>
</html>
